<%= form_for(@site_subnet) do |f| %>
  <% if @site_subnet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_subnet.errors.count, "error") %> prohibited this site_subnet from being saved:</h2>

      <ul>
      <% @site_subnet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>

  <table class="forum_view">
	<tr>
  <div class="field">
	<th>Site</th>
    <td><%= collection_select(:site_subnet, :site_id, Site.all(:order => 'name'), :id, :name) %></td>
  </div>
</tr>
<tr>
  <div class="field">
	<th>Subnet</th>
    <td><%= collection_select(:site_subnet, :subnet_id, Subnet.all(:order => 'network'), :id, :network) %></td>
  </div>
</tr>
<tr>
  <div class="actions">
    <td><%= f.submit %></td>
  </div>
</tr>
<% end %>
</table>