<%= form_for(@subnet) do |f| %>
  <% if @subnet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subnet.errors.count, "error") %> prohibited this subnet from being saved:</h2>

      <ul>
      <% @subnet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :network %><br />
    <%= f.text_field :network %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :netmask %><br />
    <%= f.text_field :netmask %>
  </div>
  <div class="field">
    <%= f.label :gateway %><br />
    <%= f.text_field :gateway %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
