<%= form_for(@subnet) do |f| %>
  <% if @subnet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subnet.errors.count, "error") %> prohibited this subnet from being saved:</h2>

      <ul>
      <% @subnet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>

  <table class="forum_view">
	<tr>

  <div class="field">
    <th><%= f.label :network %></th>
    <td><%= f.text_field :network %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, :rows=>5, :cols=>40 %></td>
  </div>
</tr>
<tr>	
  <div class="field">
    <th><%= f.label :netmask %></th>
    <td><%= f.text_field :netmask %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :gateway %></th>
    <td><%= f.text_field :gateway %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :preference %></th>
    <td><%= f.text_field :preference %><td>
  </div>
</tr>
<tr>
  <div class="actions">
    <td><%= f.submit %></td>
  </div>
</tr>
<% end %>
</table>
