<div id="Wrapper" style="position: relative;">
	<div id="swap_to"></div>
	<div id="swap_from">
		<div id="screen_body" class="container">
			<div id="blank_slate" class="clearfix"></div>
			<table class="layout">
				<tr>
					<td class="left">
						<div class="Left">
							<div class="col">
								<div class="page_header">  
										<div class="page_header_links">
										<%= link_to 'Add New IP', new_ip_address_path %>
									  </div>
									<h1>
										Subnet View
									</h1>
									</div>
									<div class="innercol">
<% @ip_parts=@subnet.network.split('.')%>
<% $ip_start="#{@ip_parts[0]}.#{@ip_parts[1]}.#{@ip_parts[2]}"%>

			<table class="forum_view">

				<% for i in (0..255) %>
					<% $ip_address = "#{$ip_start}.#{i}"%>
					<% @current_ip_address = IpAddress.where(:address => $ip_address).all%>
					<% @current_ip_address.each do |ip| %>
					<tr id="<%= ip.id %>">
					  <td class="message">
					    <div style="margin-left: 20px;">
					        <span class="title"><%= link_to ip.address, edit_ip_address_path(ip) %> - <%=ip.name%></span>


					      <br />
					      <span class="meta">
					        <%= ip.purpose %>
					      </span>
					    </div>
					  </td>

					</tr>

					<% end %>
				<% end %>
			</table>

					<div class="bottom">
						&nbsp;
					</div>
					<div class="footer"></div>
				</div>
			</td>
			<td class="right">
				<div class="Right">
					<div class="col">
						<h1>Subnet Info:</h1>
						  <div class="indent people_on_project">
						  	<table>
								<tr>
									<td><b>Network:</b></td><td><%= @subnet.network %></td>
								</tr>
								<tr>
									<td><b>Description:</b></td><td><%= @subnet.description %></td>
								</tr>
								<tr>
									<td><b>Netmask:</b></td><td><%= @subnet.netmask %></td>
								</tr>
								<tr>
									<td><b>Gateway:</b></td><td><%= @subnet.gateway %></td>
								</tr>
							</table>
						  </div>

						  <h1>Create New :</h1>
						  <div class="indent people_on_project">
						  <%= link_to Subnet, new_subnet_path%></br>
						<%= link_to Site, new_site_path %></br>
						<%= link_to Contact, new_contact_path %></br>
						  </div>
						  <h1>Link:</h1>
						  <div class="indent people_on_project">
						  <%= link_to "Site to Subnet", new_site_subnet_path%></br>
						<%= link_to "Contact to Site", new_site_contact_path %></br>

						  </div>

    <div class="project_notifications">
      <h1>Report Bug or Get Help</h1>
      <div class="indent">
          <div class="digest_subscription">

            <span class="sprite email_icon" style="background: url(<%= asset_path 'basecamp_sprites.png' %>) no-repeat -190px -30px; width: 21px; padding-top: 21px; " title=""></span>
              <p><a href="mailto:jamyers@correctcaresolutions.com">Email Jason</a></p>
          </div>
      </div>
    </div>



                 </div>
               </div>
             </td>
           </tr>
        </table>
    </div>
  </div>
</div>
</body>
</html>
