<%= form_for(@ip_address) do |f| %>
  <% if @ip_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ip_address.errors.count, "error") %> prohibited this ip_address from being saved:</h2>

      <ul>
      <% @ip_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>

  <table class="forum_view">
	<tr>
  <div class="field">
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address %></td>
  </div>
</tr><tr>
  <div class="field">
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </div>
</tr><tr>
  <div class="field">
    <th><%= f.label :purpose %></th>
    <td><%= f.text_field :purpose %></td>
  </div>
</tr><tr>
  <div class="field">
    <th><%= f.label :url %></th>
    <td><%= f.text_field :url %></td>
  </div>
</tr><tr>
  <div class="actions">
    <td><%= f.submit %></td>
  </div>
</tr>
<% end %>
</table>