<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @ip_address.address %>
</p>

<p>
  <b>Name:</b>
  <%= @ip_address.name %>
</p>

<p>
  <b>Purpose:</b>
  <%= @ip_address.purpose %>
</p>

<p>
  <b>Url:</b>
  <%= @ip_address.url %>
</p>


<%= link_to 'Edit', edit_ip_address_path(@ip_address) %> |
<%= link_to 'Back', ip_addresses_path %>
