<%= form_for(@subnet_ip_addressess) do |f| %>
  <% if @subnet_ip_addressess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subnet_ip_addressess.errors.count, "error") %> prohibited this subnet_ip_addressess from being saved:</h2>

      <ul>
      <% @subnet_ip_addressess.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subnet_id %><br />
    <%= f.number_field :subnet_id %>
  </div>
  <div class="field">
    <%= f.label :ipaddress_id %><br />
    <%= f.number_field :ipaddress_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
