<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>

  <table class="forum_view">
	<tr>

  <div class="field">
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :phone %></th>
    <td><%= f.text_field :phone %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </div>
</tr>
<tr>
  <div class="actions">
    <td><%= f.submit %></td>
  </div>
<% end %>
</table>