<%= form_for(@site_contact) do |f| %>
  <% if @site_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_contact.errors.count, "error") %> prohibited this site_contact from being saved:</h2>

      <ul>
      <% @site_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= collection_select(:site_contact, :contact_id, Contact.all, :id, :name) %>
  </div>
  <div class="field">
	<%= collection_select(:site_contact, :site_id, Site.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
