<%= form_for(@site_contact) do |f| %>
  <% if @site_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_contact.errors.count, "error") %> prohibited this site_contact from being saved:</h2>

      <ul>
      <% @site_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
