<h1>Listing site_contacts</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @site_contacts.each do |site_contact| %>
  <tr>
    <td><%= site_contact.contact_id %></td>
    <td><%= site_contact.site_id %></td>
    <td><%= link_to 'Show', site_contact %></td>
    <td><%= link_to 'Edit', edit_site_contact_path(site_contact) %></td>
    <td><%= link_to 'Destroy', site_contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site contact', new_site_contact_path %>
