<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>

  <table class="forum_view">
	<tr>
  <div class="field">
   <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :description %></th>
    <td><%= f.text_field :description %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <th><%= f.label :priority %></th>
    <td><%= f.text_field :priority %></td>
  </div>
<tr>
	<td>
  <div class="actions">
    <%= f.submit %>
  </div></td>
</tr>
<% end %>
</table>